.wrapper {
  margin-top: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  svg {
    width: 25px;
    height: auto;
    fill: #535353;
    transition: all ease-in-out 0.3s;
    position: relative;
  }
  a:hover {
    svg {
      fill: currentColor;
    }
  }
}
